.ttl02 {
    font-weight: bold;
    color: $primary-2;
    font-size: rem(18px);
    text-align: center;

    @include mq("md", min) {
        font-size: rem(35px);

    }
}
.ttl01 {
    font-size: rem(25px);
    font-weight: $font-weight-semibold;
    margin-bottom: rem(20px);
    @include mq("md", min) {
        font-size: rem(25px);
    }
}
.ttl-related {
    border-bottom: 1px solid #ccc;
    margin-top: rem(20px);
    font-size: rem(17px);
    @include mq("md", min) {
        font-size: rem(25px);
    }
}