@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: none;
}

html {
  font-size: 10px;
  font-size: 2.6666666667vw;
  overflow-y: scroll !important;
}
@media (min-width: 767px) {
  html {
    font-size: 0.625vw;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 0.5208333333vw;
  }
}
html.noscroll {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  text-align: left;
  background-color: #d9d9d9 !important;
  position: relative;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul,
dl {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

b,
strong {
  font-weight: 700;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

th {
  font-weight: 400;
  text-align: inherit;
  text-align: -webkit-match-parent;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[hidden] {
  display: none !important;
}

.aligncenter {
  text-align: center;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}
img.aligncenter {
  display: block;
  margin: auto;
}
img.alignright {
  display: block;
  margin-left: auto;
}
img.alignleft {
  display: block;
  margin-right: auto;
}

.img-100 {
  width: 100%;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinAround {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spinAround {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  margin: auto;
  max-width: 120rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.img-100 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-scale {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 767px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
}
@media (min-width: 1400px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
}
.text-justify {
  text-align: justify !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 767px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1400px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}
.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-underline {
  text-decoration: underline;
}

/**
 * Swiper 11.0.5
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 22, 2023
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color:#007aff;
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
  overflow: hidden;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight {
  height: auto;
}
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d {
  perspective: 1200px;
}
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper, .swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide {
  transform-style: preserve-3d;
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader, .swiper:not(.swiper-watch-progress) .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color:#fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color:#000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swiper-virtual .swiper-slide {
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}
.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}
.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size:44px;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next.swiper-button-hidden, .swiper-button-prev.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.swiper-navigation-disabled .swiper-button-next, .swiper-navigation-disabled .swiper-button-prev {
  display: none !important;
}

.swiper-button-next svg, .swiper-button-prev svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}

.swiper-rtl .swiper-button-next svg, .swiper-rtl .swiper-button-prev svg {
  transform: rotate(180deg);
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}

.swiper-button-lock {
  display: none;
}

.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  content: "prev";
}

.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-disabled > .swiper-pagination, .swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active, .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right;
}

.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}

.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, 0.25));
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}

.swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}

.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-vertical > .swiper-pagination-progressbar {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  position: relative;
  touch-action: none;
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.1));
}

.swiper-scrollbar-disabled > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 1%);
  bottom: var(--swiper-scrollbar-bottom, 4px);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 1%);
  bottom: var(--swiper-scrollbar-bottom, 4px);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}
.swiper-scrollbar.swiper-scrollbar-vertical {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 4px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 4px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 4px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 4px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
  touch-action: none;
}

.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-fade .swiper-slide-active {
  pointer-events: auto;
}
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}
.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}
.swiper-cube .swiper-slide-active {
  pointer-events: auto;
  pointer-events: auto;
  visibility: visible;
}
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-cube .swiper-slide-next, .swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}
.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}
.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}
.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-bottom, .swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-left, .swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-right, .swiper-cube .swiper-slide-shadow-cube.swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-flip {
  overflow: visible;
}
.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}
.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-flip .swiper-slide-active {
  pointer-events: auto;
}
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-bottom, .swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-left, .swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-right, .swiper-flip .swiper-slide-shadow-flip.swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}

.swiper-cards {
  overflow: visible;
}
.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.btn:hover {
  color: #000;
  text-decoration: none;
}
.btn:focus, .btn.focus {
  outline: 0;
}
.btn.disabled, .btn:disabled {
  opacity: 0.6;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.top-header {
  color: #fff;
  background: #000000;
  border-bottom: 1px solid #2f2f2f;
  height: 4.5rem;
  position: relative;
}
.top-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-header .top-right {
  display: flex;
  gap: 2rem;
  padding-top: 0.5rem;
  align-items: center;
}
.top-header__search {
  position: relative;
  border: none;
  background: #fff;
}
@media (max-width: 766px) {
  .top-header__search {
    position: absolute;
    left: 0;
    top: 4.1rem;
    width: 100%;
    display: none;
    height: 4rem;
  }
}
@media (min-width: 767px) {
  .top-header__search {
    width: 25.6rem;
    height: 3.5rem;
    position: relative;
  }
}
.top-header__search input {
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  padding-left: 1.5rem;
  color: #666;
  background: #fff;
}
@media (min-width: 767px) {
  .top-header__search input {
    font-size: 1.6rem;
  }
}
.top-header__search .ic_search {
  position: absolute;
  top: 50%;
  transform: translate(20%, -50%);
  right: 1.1rem;
}
.top-header__search .ic_search img {
  width: 1.5rem;
  height: 1.5rem;
}
@media (min-width: 767px) {
  .top-header__search .ic_search img {
    right: 2.1rem;
  }
}

.top-mb {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  gap: 0.5rem;
}
.top-mb .top_ic {
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c71d22;
  padding-top: 0.7rem;
}
.top-mb .top_ic span {
  display: inline-block;
  width: 2.5rem;
  height: 0.2rem;
  background: #fff;
  margin: 0.3rem 0;
}
.top-mb .ic_cart {
  position: relative;
}
.top-mb .ic_cart img {
  filter: brightness(0) invert(1);
}
.top-mb .ic_cart em {
  font-style: normal;
  background: red;
  width: 2rem;
  height: 2rem;
  display: flex;
  color: #fff;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  font-size: 1.3rem;
  justify-content: center;
  right: 0.4rem;
  top: 0.3rem;
}
.top-mb .ic_search {
  padding-top: 1rem;
}
.top-mb .ic_search img {
  max-width: 2rem;
  filter: brightness(0) invert(1);
}

@media (min-width: 767px) {
  .p-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 767px) {
  .p-header__logo {
    text-align: center;
  }
}
@media (max-width: 766px) {
  .p-header__logo {
    padding: 0.5rem 0;
  }
  .p-header__logo img {
    max-width: 16rem;
  }
}
.p-header__cosult {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.p-header__cosult__ck {
  display: flex;
  position: relative;
  gap: 1rem;
}
.p-header__cosult__ck .ck-txt {
  display: block;
}
.p-header__cosult__ck .ck-txt.--hotline {
  font-weight: bold;
  color: red;
}
.p-header__cosult__ck .ck-num {
  position: absolute;
  left: 1rem;
  font-size: 2rem;
  color: #f2ac2c;
  font-weight: 600;
  top: 1rem;
}
.p-header__menu {
  position: relative;
  z-index: 2;
  background: #333;
}
.p-header__menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 0.2rem solid #c71d22;
}
.p-header__menu .container {
  position: relative;
}
@media (max-width: 766px) {
  .p-header__menu {
    position: fixed;
    background: #fff;
    width: 25rem;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 13;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    overflow-y: scroll;
    left: -25rem;
  }
  .p-header__menu.show {
    left: 0;
  }
}
.p-header__menu .ic_menu {
  position: absolute;
  left: 1.5rem;
  transform: translateY(-50%);
  top: 50%;
  width: 2.8rem;
  height: 2.5rem;
  cursor: pointer;
}
.p-header__menu .ic_menu.active .icon_bar:first-child {
  transform: rotate(-45deg);
  margin-top: 1rem;
}
.p-header__menu .ic_menu.active .icon_bar:nth-child(2) {
  transform: rotate(45deg);
  margin-top: -0.4rem;
}
.p-header__menu .ic_menu.active .icon_bar:last-child {
  display: none;
}
.p-header__menu .ic_menu .icon_bar {
  transition: all 0.3s;
  border: 2px solid #fff;
  display: block;
}
.p-header__menu .ic_menu .icon_bar:nth-child(2) {
  margin-top: 0.5rem;
}
.p-header__menu .ic_menu .icon_bar:nth-child(3) {
  margin-top: 0.5rem;
}
.p-header__menu .lst .menu-item {
  position: relative;
  display: inline-block;
}
@media (max-width: 766px) {
  .p-header__menu .lst .menu-item {
    border-bottom: 1px solid #ddd;
  }
  .p-header__menu .lst .menu-item:last-child {
    border-bottom: none;
  }
}
@media (min-width: 767px) {
  .p-header__menu .lst .menu-item .ic_down {
    right: 0;
    position: absolute;
    background: url(../images/ic_down.svg) no-repeat top center;
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
.p-header__menu .lst .menu-item a {
  font-size: 1.5rem;
  padding: 0.8rem 0;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .p-header__menu .lst .menu-item a {
    color: #fff;
    font-size: 1.6rem;
    padding: 1.8rem 2rem;
    display: inline-block;
    font-weight: 500;
  }
}
@media (min-width: 767px) {
  .p-header__menu .lst .menu-item:hover a, .p-header__menu .lst .menu-item.active a {
    background: #c71d22;
    color: #fff;
  }
  .p-header__menu .lst .menu-item:hover .menu-sub, .p-header__menu .lst .menu-item.active .menu-sub {
    opacity: 1;
    overflow: visible;
    transform: perspective(600px) rotateX(0deg);
    transition: all ease 0.5s;
  }
}
@media (min-width: 767px) {
  .p-header__menu .lst .menu-item .menu-sub {
    width: 23rem;
    background: #333;
    position: absolute;
    box-shadow: 0.4rem 0.4rem 1rem rgba(51, 51, 51, 0.1490196078);
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    transition: all ease 0.5s;
    visibility: visible;
    opacity: 0;
  }
}
.p-header__menu .lst .menu-item .menu-sub .level_2 li {
  position: relative;
}
@media (max-width: 766px) {
  .p-header__menu .lst .menu-item .menu-sub .level_2 li .ic_lv {
    right: 0;
    position: absolute;
    background: url(../images/ic_down_2.svg) no-repeat center;
    background-size: 1.5rem 1.5rem;
    width: 2.7rem;
    height: 2.7rem;
    top: 0.5rem;
  }
}
.p-header__menu .lst .menu-item .menu-sub .level_2 li .ic_lv.is-active {
  transform: rotate(-180deg);
}
@media (min-width: 767px) {
  .p-header__menu .lst .menu-item .menu-sub .level_2 li .ic_lv {
    display: none;
  }
}
.p-header__menu .lst .menu-item .menu-sub .level_2 li a {
  font-size: 1.3rem;
  display: block;
  color: #000;
  border-bottom: none;
  background: none;
  color: #fff;
}
@media (min-width: 767px) {
  .p-header__menu .lst .menu-item .menu-sub .level_2 li a {
    padding: 1.2rem 0.5rem;
    font-size: 1.4rem;
  }
}
.p-header__menu .lst .menu-item .menu-sub .level_2 li a:hover {
  background: #f2ac2c;
  color: #fff;
}
.p-header__menu .menu_more {
  position: absolute;
  left: 1.5rem;
  top: 100%;
  min-width: 25rem;
  background: #f2ac2c;
  display: none;
}
.p-header__menu .menu_more ul {
  position: relative;
}
.p-header__menu .menu_more ul li:not(:last-child) a {
  border-bottom: 1px solid #8bd7ed;
}
.p-header__menu .menu_more ul li:not(:last-child) a:before {
  position: absolute;
  content: "";
  border-bottom: 1px solid rgba(15, 122, 152, 0.7490196078);
  left: 0;
  bottom: 0;
  width: 100%;
}
.p-header__menu .menu_more ul li a {
  color: #fff;
  display: block;
  padding: 1rem 0.5rem 1rem 1rem;
  font-size: 1.7rem;
  position: relative;
}
.p-header__menu .menu_more ul li a.has_level:after {
  position: absolute;
  content: "";
  right: 1rem;
  background: url(../images/ic_down.svg) no-repeat top center;
  background-size: contain;
  width: 1.2rem;
  height: 1.2rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  transition: all 0.3s;
}
.p-header__menu .menu_more ul li a.has_level:hover:after {
  right: 0.5rem;
}
.p-header__menu .menu_more ul li a:hover {
  background: #c71d22;
}
.p-header__menu .menu_more ul li:hover .level_2 {
  display: flex;
}
.p-header__menu .menu_more ul li .level_2 {
  position: absolute;
  left: 100%;
  background: #fff;
  top: 0;
  width: 125rem;
  box-shadow: 0 0.2rem 0.5rem rgba(51, 51, 51, 0.0588235294);
  display: none;
}
.p-header__menu .menu_more ul li .level_2 li {
  width: 20%;
}
.p-header__menu .menu_more ul li .level_2 li a {
  font-weight: 500;
  color: #c71d22;
  border: none;
}
.p-header__menu .menu_more ul li .level_2 li a:before {
  display: none;
}
.p-header__menu .menu_more ul li .level_2 li a:hover {
  color: #c71d22;
  background: none;
}
.p-header__menu .menu_more ul li .level_2 li .level_3 {
  display: block;
}
.p-header__menu .menu_more ul li .level_2 li .level_3 li {
  width: 100%;
}
.p-header__menu .menu_more ul li .level_2 li .level_3 li a {
  color: #333;
  font-weight: 400;
  padding: 0.5rem 1rem;
}
.p-header__menu .menu_more ul li .level_2 li .level_3 li a:hover {
  color: #c71d22;
}
.p-header__detail {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 766px) {
  .p-header__detail {
    margin-left: 2rem;
  }
}
@media (min-width: 767px) {
  .p-header__detail {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    font-size: 2rem;
  }
}
.p-header__detail img {
  margin-right: 0.5rem;
}
@media (max-width: 766px) {
  .p-header__detail img {
    max-width: 1.5rem;
  }
}

.bg-close-menu {
  position: fixed;
  background: #000;
  opacity: 0.8;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.bg-close-menu.show {
  display: block;
}

.p-footer {
  color: #69767f;
  padding: 3.5rem 0 2.5rem;
  background: #1d1d1d;
  background-image: url(../images/bg_footer.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
}
@media (min-width: 767px) {
  .p-footer-content {
    display: flex;
  }
}
.p-footer .logofooter {
  max-width: 26rem;
}
.p-footer-item {
  font-size: 1.4rem;
  color: #fff;
}
@media (min-width: 767px) {
  .p-footer-item {
    font-size: 1.6rem;
    width: 30%;
    line-height: 2;
  }
  .p-footer-item.--02 {
    width: 40%;
    text-align: center;
  }
}
.p-footer-item__ttl {
  color: #f2ac2c;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
@media (min-width: 767px) {
  .p-footer-item__ttl {
    margin-top: 0;
    margin-bottom: 2.3rem;
    font-size: 2.2rem;
  }
}
.p-footer-item__lst li a {
  display: block;
  padding: 0.5rem 0;
  transition: all 0.3s;
  text-transform: uppercase;
  color: #fff;
}
.p-footer-item__lst li a:hover {
  color: #f2ac2c;
}
.p-footer-item .bct {
  margin: 2rem 0;
}
.p-footer-item .social {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.p-footer-item .social a .img {
  width: 4rem;
  height: 4rem;
}
.p-footer-item .p-tag {
  margin-top: 2rem;
}
.p-footer-item .p-tag .tag {
  color: #f2ac2c;
  border-right: 1px solid #69767f;
  padding: 0 1rem;
}
.p-footer-item .p-tag .tag:hover {
  color: #2196f3;
}
.p-footer .copyright {
  text-align: center;
  margin-top: 5.9rem;
  color: #fff;
  font-size: 1.2rem;
}
@media (min-width: 767px) {
  .p-footer .copyright {
    font-size: 1.6rem;
  }
}
.p-footer .copyright span {
  font-weight: bold;
}

.scroll-top {
  display: inline-flex;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 2;
  background: #2f2f2f;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.scroll-top img {
  width: 2rem;
}
.scroll-top:hover {
  background: #f2ac2c;
}

.form-control {
  display: block;
  width: 100%;
  height: 5rem;
  padding: 0.5rem 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.1rem solid #222;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.form-control::placeholder {
  color: #222;
  opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #222;
  opacity: 1;
}

input[type=date].form-control,
input[type=time].form-control,
input[type=datetime-local].form-control,
input[type=month].form-control {
  appearance: none;
}

.table {
  width: 100%;
}

.ttl02 {
  font-weight: bold;
  color: #c71d22;
  font-size: 1.8rem;
  text-align: center;
}
@media (min-width: 767px) {
  .ttl02 {
    font-size: 3.5rem;
  }
}

.ttl01 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
@media (min-width: 767px) {
  .ttl01 {
    font-size: 2.5rem;
  }
}

.ttl-related {
  border-bottom: 1px solid #ccc;
  margin-top: 2rem;
  font-size: 1.7rem;
}
@media (min-width: 767px) {
  .ttl-related {
    font-size: 2.5rem;
  }
}

.bg-breadcumb {
  background: #4a4a4a;
  padding: 2rem 0;
}
.bg-breadcumb .ttl02-bred {
  background: #f2ac2c;
  font-size: 2.6rem;
  font-weight: 300;
  color: #4a4a4a;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0 2rem;
  text-transform: uppercase;
}

.breadcumb {
  margin: 1.5rem 0;
}
@media (min-width: 767px) {
  .breadcumb {
    margin: 1.5rem 0 0;
  }
}
.breadcumb li {
  display: inline-block;
  position: relative;
  margin-right: 0.5rem;
  padding-right: 1rem;
}
@media (min-width: 767px) {
  .breadcumb li {
    margin-right: 2rem;
    padding-right: 2rem;
  }
}
.breadcumb li:last-child:after {
  display: none;
}
.breadcumb li:after {
  content: "»";
  position: absolute;
  right: -0.8rem;
  top: -0.9rem;
  font-size: 2.4rem;
  color: #fff;
}
.breadcumb li a {
  font-size: 1.6rem;
  color: #f2ac2c;
}
@media (min-width: 767px) {
  .breadcumb li a {
    font-size: 1.6rem;
  }
}
.breadcumb li span {
  color: #f2ac2c;
  font-size: 1.6rem;
}
@media (max-width: 766px) {
  .breadcumb li span {
    font-size: 1.6rem;
  }
}

html {
  scroll-behavior: smooth;
}

.img_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_scale {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.loadmore {
  text-align: center;
  margin-top: 2rem;
}
.loadmore .btn_load {
  display: inline-block;
  background: #f2ac2c;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 5rem;
  transition: all 0.3s;
}
.loadmore .btn_load:hover {
  background: #c71d22;
}

.p-product__wrap {
  display: grid;
  margin-top: 2rem;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 767px) {
  .p-product__wrap {
    margin-top: 4rem;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.item-pr {
  background: #efefef;
  padding: 1.5rem;
  text-align: center;
}
@media (min-width: 767px) {
  .item-pr {
    margin: 0 1.5rem;
    text-align: center;
  }
}
.item-pr__img {
  position: relative;
  width: 100%;
  height: 25rem;
  transition: all 300ms linear 0ms;
  display: block;
}
.item-pr__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-pr__ttl {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 1.5rem 0;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .item-pr__ttl {
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem;
  }
}
.item-pr__price {
  font-size: 1.4rem;
  color: #f2ac2c;
  font-weight: 700;
}
@media (min-width: 767px) {
  .item-pr__price {
    font-size: 1.4rem;
  }
}

.product-item {
  background: #efefef;
  text-align: center;
  padding: 0.5rem;
  display: block;
  border-radius: 0.5rem;
}
@media (min-width: 767px) {
  .product-item {
    padding: 1rem;
  }
}
.product-item__img {
  height: 15rem;
  object-fit: cover;
  transition: all 0.3s;
  width: 100%;
}
.product-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 767px) {
  .product-item__img {
    height: 25rem;
  }
}
.product-item__ttl {
  margin: 0.5rem 0;
  font-size: 1.4rem;
  transition: all 0.3s;
  line-height: 1.4;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .product-item__ttl {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    height: 4rem;
    overflow: hidden;
  }
}
.product-item__ttl:hover {
  color: #f2ac2c;
}
.product-item__price {
  font-weight: 600;
  color: #f2ac2c;
}

.btn-buy {
  background: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  padding: 1rem 0;
}
.btn-buy .btn_buy_shoppe {
  background: red;
  color: #fff;
  padding: 0.6rem 3rem;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 3rem;
  animation: fadeScale 1s infinite;
}
@media (min-width: 767px) {
  .btn-buy .btn_buy_shoppe {
    font-size: 2rem;
    padding: 1rem 5rem;
  }
}
.btn-buy .btn_buy_shoppe span {
  animation: flip 3s infinite;
  display: inline-block;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes fadeScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes flip {
  0%, 80% {
    transform: rotateY(360deg);
  }
}
.pagination {
  margin-top: 3rem;
}
.pagination ul {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
.pagination ul li .page-number {
  cursor: pointer;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination ul li .page-number:hover, .pagination ul li .page-number.active {
  background: #f2ac2c;
  color: #fff;
  border: 1px solid #f2ac2c;
}

.f-block {
  border: 1px solid #f2ac2c;
  margin-bottom: 1.5rem;
}
.f-block.--cate {
  background: #f2f2f2;
  border: none;
  margin-bottom: 2rem;
}
.f-block__ttl {
  font-size: 2rem;
  background: #f2ac2c;
  color: #fff;
  text-transform: uppercase;
  padding: 0.8rem;
  font-weight: 600;
  padding-left: 2rem;
}
.f-block__lst {
  padding: 1rem 2rem 2rem;
}
.f-block__lst li:last-child a {
  border-bottom: none;
}
.f-block__lst li a {
  display: block;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1.7rem;
  background: url(../images/ic_right.svg) no-repeat left center;
  background-size: 1rem 2rem;
  padding-left: 2rem;
}
.f-block__lst li a:hover {
  color: #f2ac2c;
}
.f-block__item {
  padding: 1rem;
  display: flex;
  gap: 2rem;
}
.f-block__item__img {
  width: 10rem;
}
.f-block__item__ttl {
  font-size: 1.6rem;
  line-height: 1.5;
  display: block;
  font-weight: 500;
}
.f-block__item__ttl:hover {
  color: #f2ac2c;
}

.p-post {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (min-width: 767px) {
  .p-post {
    gap: 2rem;
  }
}
.p-post__writer {
  display: flex;
  align-items: center;
}
.p-post__writer span {
  margin-right: 0.5rem;
}
@media (max-width: 766px) {
  .p-post__writer span {
    font-size: 1.3rem;
  }
}
.p-post__writer img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
@media (min-width: 767px) {
  .p-post__writer img {
    width: 3.5rem;
    height: 3.5rem;
  }
}
.p-post__link {
  font-weight: bold;
}
@media (max-width: 766px) {
  .p-post__link {
    font-size: 1.3rem;
  }
}
.p-post__link:hover {
  color: #f2ac2c;
}
.p-post__date {
  font-weight: 500;
}
@media (max-width: 766px) {
  .p-post__date {
    font-size: 1.3rem;
  }
}
.p-post__view {
  font-weight: 700;
  background: url(../images/ic_eye.svg) no-repeat left center;
  background-size: 5rem 2.5rem;
  padding-left: 4.5rem;
}

.c-tag {
  display: inline-block;
  border: 1px solid #f2ac2c;
  color: #f2ac2c;
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.3rem;
  transition: all 0.3s;
  margin-bottom: 0.4rem;
}
@media (min-width: 767px) {
  .c-tag {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
  }
}
.c-tag:hover {
  background: #f2ac2c;
  color: #fff;
}

.row {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.page-detail {
  font-size: 1.6rem;
  padding: 2rem 0;
}
.page-detail img {
  max-width: 100%;
}
@media (max-width: 766px) {
  .page-detail img {
    height: auto !important;
  }
}

.img-100 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container input,
.form-container select,
.form-container textarea,
.form-container button {
  width: 100%;
  padding: 1rem;
  border: 1px solid #dddddd;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}
.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
  outline: none;
  border-color: #f2ac2c;
}
.form-container button {
  background-color: #f2ac2c;
  color: white;
  cursor: pointer;
  border: none;
}
.form-container button:hover {
  background-color: #c71d22;
}

.p-contact {
  display: flex;
  gap: 3rem;
}
.p-contact .col-50 {
  width: 50%;
}
.p-contact .form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.p-contact .form-container .btn-contact {
  text-align: center;
}
.p-contact .form-container .btn-contact button {
  margin: auto;
  width: 12rem;
  height: 4.5rem;
}

.p-news__cate {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.p-news__cate .news-cate {
  background: #fff;
  height: 4.5rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.5rem;
}
.p-news__cate .news-cate:hover {
  background: #f2ac2c;
}

.bl-pr {
  background: #fff;
  display: block;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}
.bl-pr__img {
  height: 25rem;
}
.bl-pr__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bl-pr__ttl {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 1rem 0;
}
.bl-pr__price {
  color: #f2ac2c;
  font-weight: 600;
  font-size: 1.8rem;
}/*# sourceMappingURL=style.css.map */